.product
  display flex
  flex-flow row wrap
  justify-content space-between
  margin 2rem
  
.product-title
  font-size 2rem
  
.product-buy-btn
  display block
  
.product-label
  margin-right 1rem
  
.disclaimer
  color grey
  
.product-image
  padding 2rem
  object-fit cover
  img
    height 100%
    width 100%
  
.product-image,
.product-data
  width 50%
  
.product-title,
.product-description
  width 100%

.product-price
  color red
  font-size 2rem
  margin 1rem 0
  .product-price-fraction
    font-size 1rem
    vertical-align super